AddType image/x-djvu .djvu
AddType image/x-iw44 .iw4
ErrorDocument 404 /cgi-bin/guardian.cgi?404
ErrorDocument 500 /cgi-bin/guardian.cgi?500
ErrorDocument 401 /denied.html
AuthName sggee.org 
AuthType Basic 
Auth_PG_host 192.168.30.31
Auth_PG_database sggeeorg
Auth_PG_user sggeeweb
Auth_PG_pwd r3ad0nly
Auth_PG_pwd_table userdb
Auth_PG_uid_field username
Auth_PG_pwd_field password
Auth_PG_pwd_whereclause " and ( usergroup='director' ) and disabled = 'f' "
Auth_PG_encrypted Off
<Limit GET POST PUT> 
require valid-user 
</Limit>

