<div class="main-content">
    <h1 class="centered-content">Sign-up Page </h1>
    <p></p>
    <div>
      <div>
        <p>This page allows you to request a username and password to  access the members-only areas of the site once you have completed the  application form and paid your dues. Please wait until <em>after</em> your application and dues have been processed before applying for access to the members’ area.</p>
        <p>If you have questions, please write us: <a href="mailto:membership-sggee@googlegroups.com">membership-sggee@googlegroups.com</a></p>
        <form ng-controller="newUser" novalidate="novalidate" name="newuser">
          <input type="checkbox" ng-model="signupPage.agreedTerms">
          <strong>I agree to the Terms and Conditions as set forth in the <a href="#/about_us/SGGEEBylaws_Sep2013.pdf">SGGEE Bylaws</a>.</strong>
          <hr>
          <p><strong>First Give Us Your Information.<br>
            Fields marked with an asterisk are required input fields.<br>
            </strong><br>
            <input ng-model="signupPage.realname" name="realname" size="24" type="text" placeholder="Name" required="">
            Your Name*<br>
            <input name="email" size="24" type="email" ng-model="signupPage.email" placeholder="email" required="">
            <label for="email">Email Address*</label><br>
            <br>
            Then choose a user name<br>
            <input name="username" size="24" type="text" ng-model="signupPage.username" placeholder="Username" ng-minlength="3" required="">
            User Name*<br>
            <br>
            Now choose your password<br>
            <input name="pwd1" size="24" type="password" ng-model="signupPage.pwd1" placeholder="Password" ng-minlength="6" required="" valid-password-check="">Password*<br>
            <input name="pwd2" size="24" type="password" ng-model="signupPage.pwd2" placeholder="Repeat Password" ng-minlength="6" required="" valid-password-check="">Repeat Password*
            <br>
          </p>
          <button name="process" value="Submit My Info" type="submit" ng-click="submit()" ng-disabled="newuser.$invalid==true">Submit</button>
          <br>
          <br>
          Your request will be checked against the information in our user  database. If you have not yet been notified that your application and  dues have been processed, your information will not yet be online. That  means that the system will not yet be able to process your request for  access to the members’s area of the site.
          <hr><span ng-hide="newuser.$valid==true">
				<div ng-messages="newuser.email.$error" ng-hide="newuser.email.$valid==true || newuser.email.$pristine">
					<div ng-message="required">{{translation.FORGOT_EMAIL}}</div>
					<div ng-message="minlength">{{translation.EMAIL_SHORT}}</div>
					<div ng-message="maxlength">{{translation.EMAIL_LONG}}</div>
					<div ng-message="email">{{translation.EMAIL_FORMAT}}</div>
				</div>
				<div ng-messages="newuser.pwd1.$error" ng-hide="newuser.pwd1.$valid==true || newuser.pwd1.$pristine">
					<div ng-message="required">{{translation.ENTER_PASSWORD}}</div>
					<div ng-message="minlength">{{translation.PASS_MIN_LENGTH}}</div>
					<div ng-message="noMatch">{{translation.PASS_NOT_MATCH}}</div>
				</div>
				<div ng-messages="newuser.pwd2.$error" ng-hide="newuser.pwd2.$valid==true  || newuser.pwd2.$pristine">
					<div ng-message="required">{{translation.PASS_TWICE}}</div>
					<div ng-message="noMatch">{{translation.PASS_NOT_MATCH}}</div>
				</div>
				<div ng-messages="newuser.username.$error" ng-hide="newuser.username.$valid==true || newuser.username.$pristine">
					<div ng-message="required">{{translation.USERNAME_MISSING}}</div>
					<div ng-message="minlength">{{translation.USERNAME_MIN_LENGTH}}</div>
				</div>
				<div>{{ signupPage.message }}</div>
			</span>
        </form>
        <p>Hints:</p>
        <p><strong>Username</strong> can be just about anything you like, but should be at least three characters and it must be unique. We suggest that you use something you  will easily remember, such as the username portion of your email  address (<strong>user</strong> is the username in the address <strong>user@somewhere.com</strong>).</p>
        <p><strong>Passwords</strong> can also be whatever you'd like, but should be at least six  characters (numbers are OK). If you forget your username and/or  password, go to the Membership page, where you can have the information  emailed to you.<br>
        </p>
      </div>
    </div>
    <p>&nbsp;</p>
    <p></p>
  </div>
  